<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Component scanning for automatic bean detection -->
    <context:component-scan base-package="com.kk.factory.config" />
    <context:component-scan base-package="com.kk.factory.bean" />

    <!-- Bean definitions -->
    <bean id="employee" class="com.kk.factory.bean.Employee">
        <!-- Bean properties -->
        <property name="employeId" value="21" />
        <property name="name" value="rahul" />
        <property name="department" value="IT"/>
    </bean>

</beans>
