<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
                           
                           
     <bean id="devops" class="com.collection.merge.Course">
       <property name="subjects">
          <list value-type="java.lang.String">
            <value>Linux</value>
            <value>ShellScripting</value>
            <value>Vagrant</value>
            <value>Ansible</value>
            <value>Networking</value>
            <value>Terraform</value>
            <value>AWS</value>
          </list>
       </property>
     </bean>
     <bean id="cloudops" class="com.collection.merge.Course" parent="devops">
       <property name="subjects">
        <list value-type="java.lang.String" merge="true">
           <value>Basic Cloud Foundation</value>
           <value>Aws</value>
           <value>Azure</value>
           <value>Google cloud</value>
        </list>
       </property>
     </bean>

</beans>
